@charset "utf-8";
/*************************************
* 文件名称：border.css
* 作   者：界面设计制作部
* 创建日期：2009-4-1
* 最后修改：name/ 第X行 / yyyy-mm-dd
* 文件版本：UI CSS Frameworks Beta
* 内容概要:装饰器样式
*************************************/
/*装饰器共用设置*/
.border_07{padding:0;position:relative;text-align:left;width:100%;}
/*顶部*/   
.border_07 .border_07-topr {
	/*background:url(../images/border-topr_2.jpg) right top no-repeat;*/
	height:31px;
	line-height:31px;
}
.border_07 .border_07-topl {
	background:url(../images/border-topl_2.jpg) left top no-repeat;
	height:31px;
	line-height:31px;
}
.border_07 .border_07-topl h3 {
	font-size:12px;
	color:#5B5B5B;
	padding:0 0 0 15px;
	margin:0;
}
/*中部*/
.border_07 .border_07-mid {
	
}
.border_07 .borderContent {
	padding:0px;
	padding-top:20px;
}
/** 底部 **/
.border_07 .border_07-footerr {
	background:url(../images/border-footerr.jpg) right bottom no-repeat;
	height:4px;
	font-size:0;
	display:none;
}
.border_07 .border_07-footerl {
	background:url(../images/border-footerl.jpg) left bottom no-repeat;
	height:4px;
	font-size:0;
	display:none;
}
/*装饰器的标题*/  
.border_07 .comptitle_07 {
	height:25px;
	position: absolute;
	left: 7px;
	top: 3px;
	width:98%;
}
.border_07 .comptitle_07 strong{
	font-weight:bold;
	float:left;
	margin-left:5px;
	font-style:normal;
	text-decoration:none;
	
	width:45%;
	word-break:break-all;
	text-align:left;
	
}
.border_07 .comptitle_07 .titlestyle_07{color:#fff;font-size:14px;font-style:normal;font-weight:bold;text-decoration:none;}

.border_07 .comptitle_07 strong img {
	vertical-align: middle;
	margin-right: 5px;
	width:20px;
	height:20px;
}
.border_07 .comptitle_07 em {
	font-style: normal;
	float: right;
	font-weight: normal;
}
/* 扩展链接 */
.border_07 .comptitle_07 em span.extendLink{
	text-align: right;
	font-size:12px;
	margin-right: 8px;
}
.border_07 .comptitle_07 em span.moreLink{
	font-style: normal;
	font-weight: normal;
}
/* 更多 */
.border_07 .compmore_07 {
	clear: both;
	text-align: right;
	font-size:12px;
	margin-right: 10px;/*text-align: left;*/
}
/* 扩展链接 */
.border_07 .compmore_07 .extendLink{
	text-align: right;
	font-size:12px;
	margin-right: 10px;
}
.border_07 .compmore_07 .moreLink{
	font-style: normal;
	font-weight: normal;
}