@charset "utf-8";
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
}
fieldset, img, input, textarea, button, select {
	background: none no-repeat scroll;
	border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: middle;
}
ol, ul, li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333
}
a:hover {
	text-decoration: none;
}
.clearfix:after {
	display: table;
	content: "";
	clear: both;
}
.clearfix {
	zoom: 1
}
input, textarea, select {
	outline: none
}
body {
	background: #f5f5f5
}
header, footer, section, article {
	display: block;
}
header {
	overflow: hidden;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto
}
header div {
	margin: 0 auto;
}
header div img {
	width: 100%;
	height: auto;
	vertical-align: top;
	display: block;
}
.more_loadimg {
	text-align: center;
	display: none;
	margin-top: 10px;
}
.more_loadimg img {
	width: auto;
	display: inline-block;
}
.top_dh {
	display: block;
	background: #014687;
	height: 43px;
	color: #fff;
	font: bold 16px/43px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	text-align: center;
	position: relative;
	border-bottom: 1px solid #850400;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto
}
.top_dh .head_mar {
	margin: 0 70px 0 102px;
	height: 43px;
	position: relative;
}
.top_dh .head_mar .mar_logo {
	width: 80px; /*background:url(../images/hd_logo.jpg) no-repeat; */
	height: 39px;
	position: absolute;
	left: -92px;
	top: 4px
}
.top_dh .head_mar .head_icon3 {
	width: 56px;
	height: 23px;
	background: url(../images/icon14.png)no-repeat top center;
	position: absolute;
	right: -71px;
	top: 6px;
	z-index: 99;
	margin-right: 10px;
	font: 12px/25px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	color: #FFF;
	text-align: center;
	background-size: 23px;
	padding-top: 15px
}
.top_dh .head_mar .mar_inp {
	height: 33px;
	padding-top: 5px;
}
.top_dh .head_mar .mar_inp .inp_sear {
	width: 100%;
	height: 33px;
	border-radius: 5px;
	background: #FFF;
	background-size: 25px
}
.top_dh .head_mar .mar_inp .inp_sear a {
	display: block;
	width: 100%;
	height: 33px;
}
.top_dh a:link, .top_dh a:visited, .top_dh a:hover, .top_dh a:active {
	color: #FFF;
	text-decoration: none;
}
.head_icon1 {
	width: 30px;
	height: 30px;
	background: url(../images/fh.png) no-repeat;
	position: absolute;
	left: 0;
	top: 9px;
	z-index: 99;
	margin-left: 10px;

	color: #FFF;
	text-align: center;
}
.head_icon2 {
	width: 85px;
	height: 27px;
	background: url(../images/ico.png) -100px 0px no-repeat;
	position: absolute;
	right: 0;
	top: 9px;
	z-index: 99;
	margin-right: 10px;
	font: 14px/25px "\5FAE\8F6F\96C5\9ED1";
	color: #FFF;
	text-align: center
}
.head_icon3 {
	width: 56px;
	height: 23px;
	background: url(../images/icon14.png)no-repeat top center;
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 99;
	margin-right: 8px;
	font: 12px/25px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	color: #FFF;
	text-align: center;
	background-size: 23px;
	padding-top: 15px
}
.top_dh .dh_logo {
	width: 80px;
	background-size: 80px;
	height: 39px;
	float: left;
	margin: 5px 0 0 10px;
}
/*看了又看*/

.list_dn {
	display: none;
	height: 124px;
}
.list_nav {
	background: #fff;
	margin: 10px;
	width: auto;
	border-top: solid 1px #e7e7e7
}
.list_nav ul li {
	border-bottom: 1px solid #ececec;
	display: block;
	overflow: hidden;
	border-right: solid 1px #e7e7e7;
	border-left: solid 1px #e7e7e7;
}
.list_nav ul li a {
	text-align: center;
	height: 30px;
	float: left;
	width: 41%;
	font-size: 14px;
	color: #343434;
	line-height: 30px;
	color: #343434;
	padding: 0 10px 0 15px;
	text-align: left;
	overflow: hidden
}
.r_b {
	border-right: 1px solid #ececec;
}
/*导航栏*/

.list_dn1 {
	display: none;
	min-width: 320px;
	max-width: 640px;
	margin: 10px 10px 0 10px;
	padding-top: 10px;
}
.list_nav1 {
	background: #ffffff;
}
.list_nav1 ul li {
	display: block;
	overflow: hidden;
}
.list_nav1 ul li a {
	text-align: center;
	height: 30px;
	float: left;
	width: 33%;
	font-size: 14px;
	color: #777777;
}
.r_b {
	border-right: 1px solid #ececec;
}
.r_b1 {
	border-bottom: 1px solid #ececec;
}
.xq_cont1 {
	margin: 10px;
	overflow: hidden
}
.xq_cont1 img {
	width: 100%;
}
.xq_cont1 .bz {
	font: 12px/30px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	color: #5d5d5d;
	background: url(../images/icon2.png) 0 7px no-repeat;
	background-size: 18px;
	padding-left: 20px;
	border-top: 1px dashed #e0e1e1;
	clear: both
}
.xq_cont1 .xq_title {
	background: #FFF;
	border: solid 1px #e7e7e7;
	font-size: 14px;
	color: #929191;
	padding: 5px 10px 5px 10px;
	border-bottom: none
}
.xq_cont1 .xq_title strong {
	display: block;
	color: #333;
	font-weight: normal;
	font-size: 18px;
	border-bottom: none;
	padding: 0;
	padding-top: 5px;
	color: #010101
}
.xq_cont1 .xq_title p {
	overflow: hidden;
	padding: 5px 10px;
	font: 12px/24px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	color: #333;
	background: #fff;
}
.xq_cont1 .xq_js {
	background: #FFF;
	border: solid 1px #e7e7e7;
	font-size: 16px;
	color: #929191;
	padding: 5px 10px 10px 10px;
	overflow: auto;
}
.xq_cont1 .xq_js p .tz_je {
	color: #333;
	background: url(../images/icon3.png) no-repeat 0px 7px;
	float: left;
	background-size: 17px;
	width: 40%;
	font: 12px/30px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	padding-left: 20px;
	overflow: hidden;
}
.xq_cont1 .xq_js p .tz_gz {
	color: #333;
	background: url(../images/icon1.png) 0 7px no-repeat;
	background-size: 17px;
	float: left;
	width: 40%;
	font: 12px/30px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	padding-left: 20px;
	overflow: hidden;
}
.xq_cont1 .xq_js p .tz_re {
	color: #333;
	float: left;
	width: 67%;
	font: 12px/30px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	overflow: hidden;
	background: url(../images/icon5.png) 0 7px no-repeat;
	background-size: 17px;
	padding-left: 20px
}
.xq_cont1 .xq_js p .tz_re i {
	width: 40px;
	height: 15px;
	font: 12px/15px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	color: #FFF;
	text-align: center;
	font-style: normal;
	display: inline-block;
	background-size: 40px
}
.xq_cont1 .xq_js p .tz_re img {
	width: auto;
	float: left;
	margin-top: 8px;
}
.xq_cont1 .xq_js p .tz_hp {
	color: #333;
	background: url(../images/icon4.png) 0px 7px no-repeat;
	background-size: 17px;
	float: left;
	width: 67%;
	font: 12px/30px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	padding-left: 20px;
	overflow: hidden;
}
.xq_cont1 .xq_js p b {
	color: #db180b;
	font-weight: normal;
}
.xq_cont1 .new_pho {
	font-size: 18px;
	font-weight: bold;
	line-height: 35px;
	color: #545454;
	clear: both;
	position: relative;
}
.new_pho>span {
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	background: #f50039 !important;
	border-radius: 5px;
	text-align: center;
	float: left;
}
.new_pho>span>a {
	color: #FFF;
	background: #f50039 !important;
	background: url(../images/pc_ico_zixun.png) no-repeat !important;
	background-size: 22px !important;
}
.xq_cont1 .new_pho a {
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	font-size: 14px;
	background: #169e16;
	border-radius: 5px;
	text-align: center;
	float: right;
}
.xq_cont1 .new_pho a i {
	padding: 0px 3px 1px 18px;
	background: url(../images/new_ddh.png) no-repeat;
	background-size: 14px;
}
.xq_cont2 {
	overflow: hidden;
	display: block;
	margin: 10px;
	border: 1px solid #e0e1e1;
	border-bottom: none;
}
.xq_cont2 h2 {
	background: #fff url(../images/ico.png) no-repeat 0 -204px;
	border-bottom: 1px solid #e0e1e1;
	color: #000000;
	font-size: 16px;
	line-height: 36px;
	padding-left: 15px;
}
.xq_cont2 .nrbox {
	padding: 5px 10px;
	color: #444;
	font: 14px/22px "microsoft yahei", "微软雅黑\8F6F\96C5\9ED1";
	border-bottom: 1px solid #e0e1e1;
	background: #FFF
}
.xq_cont2 .nrbox img {
	width: 100%;
	height: auto;
	text-align: center
}
.xq_cont2 p.tl {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 10px 0;
}
.view-more {
	text-align: left;
	border-bottom: 1px solid #e2e2e2;
	padding-top: 3%;
	padding-right: 2%;
	padding-bottom: 3%;
}
.view-more span {
	font-size: 0.8rem
}
.bg-ff {
	background: #fff;
	margin-right: -5px;
}
.mr2 {
	margin-right: 2%;
}
.cOrange, .cOrange:visited, .cOrange a {
	color: #e4030d !important;
}
.view-more .btn {
	padding: 2px 3% 0 3%;
	line-height: 1.4;
}
.btn-orange {
	color: #fff;
	background-color: #e4030d;
	border-color: #e4030d;
}
.btn {
	display: inline-block;
	padding: 1.5% 8%;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.fr {
	float: right;
}
@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot'); /* IE9*/
	src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg');/* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	vertical-align: middle;
	padding-left: 2%;
	padding-bottom: 2%;
}
ul.checkbox {
	color: #333;
	font-size: 14px;
	height: auto;
	overflow: hidden;
	width: 95%;
	margin: 0px 0px 0px 10px;
}
.checkbox li {
	float: left;
	height: 24px;
	margin-bottom: 11px;
	width: 40%;
	text-align: left;
}
input.check {
	height: 16px;
	margin: 0 8px 0 0;
	vertical-align: middle;
	width: 16px;
}
.xq_cont3 {
	overflow: hidden;
	display: block;
	margin: 10px 10px 0 10px;
	border: 1px solid #e0e1e1;
	background: #FFF
}
.xq_cont3 h2 {
	border-bottom: 1px solid #e0e1e1;
	background: url(../images/ico.png) 0px -204px no-repeat;
	padding-left: 15px;
	color: #59493f;
	font: 14px/36px "\5FAE\8F6F\96C5\9ED1";
}
.xq_cont3 .cont3_img {
	margin-left: 10px;
	background: #FFF
}
.xq_cont3 ul {
	width: 100%;
	display: box;
	display: -webkit-box;
	display: -moz-box;
}
.xq_cont3 ul li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	width: 24%;
	margin: 10px 10px 10px 0
}
.xq_cont3 img {
	float: left;
	width: 100%
}
.xq_cont4 {
	border: solid 1px #f1e0c9;
	border-bottom: none;
	margin: 10px 10px 0 10px;
	font-size: 12px;
	color: #5d5d5d;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	line-height: 20px;
	padding: 5px 10px 10px 10px
}
.xq_cont4 h1 {
	font-size: 12px;
	color: #ff4400;
	line-height: 25px
}
.box {
	position: relative;
	padding: 10px;
	font-size: 14px;
}
.xq_cont3 .box {
	line-height: 25px;
	text-indent: 0px;
}
.xq_cont3 .box p {
	text-indent: 0px;
}
.r6 ul.bd {
	overflow: hidden;
	padding: 0 6px
}
.r6 ul.bd li {
	padding: 6px;
	float: left;
	text-align: left;
	overflow: hidden;
	font-size: 13px;
	border-radius: 5px;
	margin: 0 0 5px 5px;
	background: #f64a56;
}
.r6 ul.bd li a {
	color: #fff
}
.bgpos {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.article-content .art-info {
	text-align: left;
	border-bottom: 1px dashed #d5d5d5;
	padding-bottom: 5px;
}
.article-content .art-info .text {
	font-size: 10px;
	color: #8c8c8c;
	margin: 5px 0;
	display: inline;
}
.article-content .art-info .text a {
	padding-right: 10px
}
.article-content .art-info .text-span {
	font-size: 10px;
	color: #8c8c8c;
}
/*留言板*/

.lyb_nr {
	margin: 10px 10px 0 10px;
	background: #FFF;
	border: #e7e7e7 solid 1px;
	padding-bottom: 10px;
}
.lyb_nr span {
	font: bold 14px/20px "\5FAE\8F6F\96C5\9ED1";
	color: #e23619;
	display: block;
	padding: 10px 0 15px 10px;
}
.lyb_nr .hs_wz {
	font: 12px/18px "\5FAE\8F6F\96C5\9ED1";
	color: #ff0000;
	margin: 0 10px;
	display: block;
	font-weight: normal;
	padding-left: 10px;
	height: 18px;
}
.lyb_nr .inputbox {
	font: 12px/38px "\5FAE\8F6F\96C5\9ED1";
	color: #333;
	height: 38px;
	border: 1px solid #ccc;
	padding-left: 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin: 0 10px 15px 10px;
}
.lyb_nr input {
	border: 0;

	overflow: hidden;
	color: #888;
	line-height: 32px;
	height: 32px;
	outline: none;
}
.lyb_nr .input_th {
	line-height: 40px
}
.lyb_nr .btn_tj {
	background: #d3172c;
	float: left;
	display: block;
	height: 40px;
	border: 1px solid #e12515;
	text-align: center;
	font: 16px/28px "\5FAE\8F6F\96C5\9ED1";
	color: #fff8ef;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 30%;
	margin-left: 20px;
	-webkit-appearance: none;
	outline: none;
}
.lyb_nr .btn_th {
	background: #2b8c00;
	display: block;
	height: 40px;
	border: 1px solid #37930f;
	text-align: center;
	font: 16px/28px "\5FAE\8F6F\96C5\9ED1";
	color: #fff8ef;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	outline: none;
}
.lyb_nr .input_xz {
	margin: 0 10px;
}
/*直拨电话*/

.phone {
	display: table;
	background: url(../images/d3.png) repeat-x left top;
	background-size: 2px 45px;
	position: fixed;
	bottom: 0;
	z-index: 999;
	height: 45px;
	width: 100%;
	min-width: 320px;
	max-width: 640px;
}
.phone .ly {
	float: left;
	width: 20%;
	text-align: center;
	height: 45px;
	background: url(../images/d4.png) repeat-x left top;
	background-size: 2px 45px;
}
.phone .ly a {
	display: table-cell;
	width: 25%;
	text-align: center;
}
.phone .ly a img {
	width: 52px;
	height: 45px;
}
.phone .dh {
	float: left;
	width: 80%;
	text-align: center;
	height: 40px;
	padding-top: 5px;
}
.phone .dh input {
	width: 68%;
	overflow: hidden;
	color: #000;
	line-height: 34px;
	height: 34px;
	background: #e4e1e1;
	border-radius: 5px;
	float: left;
	font-size: 12px;
	border: 0;
	margin-left: 5px;
	outline: none;
}
.phone .dh .search_an {
	width: 65px;
	height: 34px;
	border: none 0;
	padding-left: 0px;
	float: left;
	background-size: 65px 34px;
	margin: 0 0 0 5px;
	cursor: pointer;
	text-indent: -9999px;
}
/*底部推荐*/

.jsbox {
	position: relative;
	background: #FFF;
	margin: 10px 10px 0 10px;
	border: #e7e7e7 solid 1px;
}
.jsbox h1 {
	display: block;
	line-height: 36px;
	font-size: 16px;
	color: #F00;
	padding-left: 10px;
	border-bottom: 1px solid #e0e0e0;
}
.jsbox .product-pictxt2 {
}
.xmbox {
	padding: 10px;
	overflow: hidden;
	display: block;
	border-bottom: 1px solid #e0e0e0;
	clear: both
}
.xmbox .tpbox {
	width: 114px;
	height: 60px;
	float: left;
	margin-right: 7px;
}
.xmbox .tpbox img {
	width: 114px;
	height: 59px;
	border: 0px;
}
.xmbox .wzbox {
	color: #999;
	font: 12px/20px "\5FAE\8F6F\96C5\9ED1";
}
.xmbox .wzbox span {
	display: block;
	height: 19px;
	overflow: hidden
}
.xmbox .wzbox strong {
	display: block;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.xmbox .wzbox strong img {
	width: 15px;
	vertical-align: inherit;
	display: inline-block
}
.xmbox .wzbox .wzk {
	overflow: hidden;
}
.xmbox .wzbox .wzk b {
	color: #ff4400;
	font-weight: 100
}
.bottom {
	overflow: hidden;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	padding-top: 15px;
}
.xq_cont5 {
	width: 100%
}
.xq_cont5 img {
	width: 100%
}
.xq_cont6 {
	width: 100%; /*background: #d3172c;*/
	background: #014687;
	position: relative;
	padding-top: 30px
}
.xq_cont6 .to_top {
	text-align: center;
	font: 14px/20px "\5FAE\8F6F\96C5\9ED1";
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 10px
}
.xq_cont6 .to_top a {
	color: #FFF;
	padding-top: 24px;
	background: url(../images/gotop.png) no-repeat top center;
	background-size: 64px;
}
.xq_cont6 .nav {
	padding: 3px 7px 0 0;
	overflow: hidden;
}
.xq_cont6 .nav ul {
	width: 100%;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	padding-top: 5px;
}
.xq_cont6 .nav ul li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	margin-left: 7px;
	text-align: center;
	background: #b00518;
	padding: 2px 4px 0 4px;
	width: 24%;
	line-height: 21px
}
.xq_cont6 .nav ul li a {
	color: #FFF;
	font-size: 14px
}
.xq_cont6 p {
	text-align: center;
	color: #FFF;
	line-height: 22px;
	font-size: 12px;
	padding: 8px 0;
}
.xq_cont6 .bottom_logo {
	height: 140px;
	background-size: 153px
}
.xq_cont6 .bottom_b {
	height: 60px;
	background: #000;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}
.xq_cont6 .bottom_b ul li {
	float: left;
	margin: 10px 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	width: 43%
}
.xq_cont6 .bottom_b ul .li_l {
	background: #d3172c;
	float: left
}
.xq_cont6 .bottom_b ul .li_r {
	background: #2b8c00;
	float: right;
}
.xq_cont6 .bottom_b ul li a {
	color: #FFF;
	display: block;
}
/*项目列表页 begin*/

.list_js {
	margin: 10px;
	background: #e9e9e9;
	border: solid 1px #e0e0e0;
	font-size: 12px;
	color: #929191;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	padding: 10px 3px 10px 10px;
	height: 32px;
	position: relative
}
.icon6 {
	background: url(../images/icon6.png) no-repeat 5px 6px #e9e9e9;
	background-size: 75px
}
.icon7 {
	background: url(../images/icon7.png) no-repeat 5px 6px #e9e9e9;
	background-size: 75px
}
.icon13 {
	background: url(../images/icon13.png) no-repeat 5px 6px #e9e9e9;
	background-size: 75px
}
.icon14 {
	background-size: 75px
}
.icon15 {
	background-size: 75px
}
.icon16 {
	background-size: 75px
}
.icon17 {
	background-size: 75px
}
.list_js i {
	width: 35px;
	position: absolute;
	left: 50px;
	top: 8px;
	font-style: normal;
	font-size: 16px;
	color: #000;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	line-height: 18px
}
.list_js span {
	padding-left: 77px;
	display: block;
	line-height: 17px;
}
.list_check {
	margin: 0 10px;/* border:solid 1px #e7e7e7*/
}
.list_check .btn-content {
	background: #FFF;
	border-left: solid 1px #e7e7e7;
	border-right: solid 1px #e7e7e7;
}
.list_check .list_cont2 {
	display: none;
}
.list_check .list_cont3 {
	display: none;
}
.list_check .load_more {
	border-bottom: solid 1px #e7e7e7;
	background: #FFF;
	text-align: center;
	line-height: 40px;
}
.list_check .load_more a {
	color: #131212;
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1"
}
#list {
	display: block;
	height: 40px;
	background: #FFF;
	border: solid 1px #e7e7e7;
	border-bottom: none;
}
#list a.active {
	border-top: 3px solid #E72F39;
	height: 37px;
	color: #E72F39;
	border-bottom: solid 1px #FFF;
	overflow: hidden
}
#list a {
	float: left;
	width: 33%;
	height: 40px;
	font: 14px/40px "\5FAE\8F6F\96C5\9ED1";
	color: #333;
	text-align: center;
	border-bottom: 1px solid #DAD8D9;
}
#list a i {
	background: url(../images/border_right.png) no-repeat scroll right center transparent;
	font-style: normal;
	display: block;
}
/*项目列表页 end*/



/*首页 begin*/

.fon_ind h2 {
	border-bottom: solid 1px #e7e7e7;
	height: 44px;
	line-height: 44px;
	padding: 0 10px 0 0px;
}
.fon_ind h2 i {
	float: left;
	width: 3px;
	height: 18px;
	margin-top: 14px;
	margin-right: 10px;
	background: #d3172c
}
.fon_ind h2 em {
	float: right;
	font-size: 12px
}
.fon_ind h2 em a {
	color: #929191;
}
.fon_ind .lb_box {
	height: 35px;
	border-bottom: 1px solid #e7e7e7;
	font: 14px/35px "\5FAE\8F6F\96C5\9ED1";
	display: block;
	color: #333;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	clear: both;
}
.fon_ind .lb_box i {
	font-size: 14px;
	color: #fff;
	background: #bcbcbc;
	text-align: center;
	float: left;
	font-style: normal;
	line-height: 18px;
	width: 18px;
	height: 18px;
	margin-top: 8px;
	margin-right: 10px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.fon_ind .lb_box i.ys {
	background: #d3172c;
}
.fon_ind .b_box {
	background: #FFF;
	height: 36px;
	text-align: center;
	font: 14px/36px "\5FAE\8F6F\96C5\9ED1";
	color: #666;
	display: block;
	border-top: solid 3px #e7e7e7;
	color: #343434;
}
.head_img {
	padding: 10px;
}
.head_img .l_top {
	margin-bottom: 2.8%;
	display: block;
}
.head_img dl {
	overflow: hidden;
	clear: both;
	position: relative;
	padding: 3px;
}
.head_img dl dt {
	float: left;
	width: 49%;
}
.head_img dl a {
	display: block;
	width: 100%;
}
.head_img dl dd {
	float: right;
	width: 49%;
}
.head_img dl img {
	width: 100%;
	height: 93px;
	border: 1px solid #ccc;
}
.head_nav {
	border: solid 1px #e7e7e7;
	background: #FFF;
	padding: 10px;
	margin: 0px 10px 10px 10px;
	padding-top: 0px;
}
.head_nav ul li {
	float: left;
	width: 18%;
	text-align: center;
	font-size: 12px;
	padding: 3px;
}
.head_nav ul li a {
	display: block;
100%; /*padding-top:50px;*/
	color: #343434;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	padding: 3px;
}
.cont1 {
	margin: 0px 10px 10px 10px;
	display: none;
}
.cont1 ul li {
	width: 49%;
	border-radius: 5px;
}
.cont1 ul li a {
	display: block;
}
.cont1 ul li img {
	width: 100%;
}
.cont1 ul .style1 {
	margin-bottom: 1%;
	float: left
}
.cont1 ul .style2 {
	margin-bottom: 1%;
	float: right
}
.cont1 ul .style3 {
	float: left
}
.cont1 ul .style4 {
	float: right;
}
.cont2 {
	margin: 0px 10px 10px 10px;
	border: solid 1px #e7e7e7;
	border-bottom: none;
	border-right: none;
	background: #FFF;
	clear: both;
}
.cont2 ul {
	width: 100%;
	display: box;
	display: -webkit-box;
	display: -moz-box;
}
.cont2 ul li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	text-align: center;
	border: 1px solid #e6e6e6;
	border-left: none;
	border-top: none;
	width: 24%;
}
.cont2 ul li a {
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #000;
	display: block;
	font-size: 14px
}
.cont3 {
	margin: 0px 10px 10px 10px;
	border: solid 1px #e7e7e7;
	background: #FFF
}
.cont3 .list_con {
	background: #FFF;
}
.cont3 .cont3_list3 {
	display: none;
}
.cont4 {
	margin: 10px 10px 10px 10px;
	border: solid 1px #e7e7e7;
	background: #FFF
}
.cont4 .cont4_t {
	overflow: hidden;
	border-bottom: solid 1px #e7e7e7;
}
.cont4 .cont4_t .cont4_l {
	width: 100%;
	float: left
}
.cont4 .cont4_t .l_2 {
	display: none
}
.cont4 .cont4_t .l_3 {
	display: none
}
.cont4 .cont4_t .l_4 {
	display: none
}
.cont4 .cont4_t #list3 {
	width: 15%;
display;
	float: right;
block;
	background: #FFF;
}
.cont4 .cont4_t #list3 a.active {
	height: 62px;
	color: #E72F39;
	border-bottom: solid 1px #FFF;
	overflow: hidden
}
.cont4 .cont4_t #list3 a.active i {
	border-right: 3px solid #E72F39;
	border-left: none;
	height: 61px;
}
.cont4 .cont4_t #list3 a {
	display: block;
	width: 100%;
	height: 60px;
	font: 14px/59px "\5FAE\8F6F\96C5\9ED1";
	color: #333;
	text-align: center;
}
.cont4 .cont4_t #list3 a i {
	display: block;
	font-style: normal;
	display: block;
	border-left: solid 1px #e7e7e7;
	border-bottom: solid 1px #e7e7e7
}
.cont5 {
	margin: 0px 10px 10px 10px;
	border: solid 1px #e7e7e7;
	background: #FFF
}
.cont5 .list_con {
	background: #FFF;
}
.cont6 {
	margin: 0px 10px 10px 10px;
	border: solid 1px #e7e7e7;
	background: #FFF
}
.cont6 .cont6_t {
	height: 241px;
	overflow: hidden;
	border-bottom: solid 1px #e7e7e7;
}
.cont6 .cont6_t .cont6_l {
	width: 85%;
	float: left
}
.cont7 {
	margin: 0px 10px 10px 10px;
	border: solid 1px #e7e7e7;
	background: #FFF
}
.cont8 {
	margin: 0px 10px 10px 10px;
	border: solid 1px #e7e7e7;
	background: #FFF
}
.cont8 #list8 {
	display: block;
	height: 40px;
	background: #FFF;
}
.cont8 #list8 a.active {
	height: 36px;
	border-bottom: solid 1px #FFF;
	overflow: hidden;
	border-top: 3px solid #E72F39;
}
.cont8 #list8 a {
	float: left;
	width: 33.3%;
	height: 40px;
	font: 14px/40px "\5FAE\8F6F\96C5\9ED1";
	color: #333;
	text-align: center;
	border-bottom: 1px solid #DAD8D9;
	position: relative
}
.cont8 #list8 a i {
	background: url(../images/border_right.png) no-repeat scroll right center transparent;
	font-style: normal;
	display: block;
}
.cont8 #list8 a em {
	float: left;
	width: 4px;
	height: 18px;
	position: absolute;
	top: 11px;
	left: 65px;
}
/*首页 end*/



/*遮罩层 begin*/

.zzc {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	opacity: 0.8;
	position: fixed;
	top: 0;
	z-index: 100
}
.menu {
	width: 260px;
	height: 246px;
	background: #FFF;
	position: absolute;
	top: 50px;
	right: 20px;
	z-index: 200
}
.menu .menu_t {
	height: 40px;
	line-height: 40px;
	background: url(../images/icon14.png) no-repeat 10px center #d3172c;
	background-size: 25px;
}
.menu .menu_t span {
	color: #FFF;
	float: left;
	padding-left: 40px;
	font-size: 14px
}
.menu .menu_t em {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	margin: 8px 7px 0 0
}
.menu .menu_t em a {
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px;
}
.menu ul li {
	-moz-box-flex: 1;
	height: 52px;
	width: 50%;
	float: left
}
.menu ul li a {
	display: block;
	width: 100%;
	height: 52px;
}
.menu ul .fsxb {
	background-size: 128px
}
.menu ul .tscy {
	background-size: 128px
}
.menu ul .mrys {
	background-size: 128px
}
.menu ul .spwj {
	background-size: 128px
}
.menu ul .jjzs {
	background-size: 128px
}
.menu ul .jnhb {
	background-size: 128px
}
.menu ul .xrls {
	background-size: 128px
}
.menu ul .jywl {
no-repeat;
	background-size: 128px
}
/*遮罩层 end*/



.mt50 {
	margin-top: 50px;
}
.add_Nfd {
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 100;
}
.search_father2 {
	padding: 0px 55px 0 45px;
	position: relative;
	height: 43px;
}
.top_dh .left_fh {
	width: 20px;
	background-size: 10px;
	height: 30px;
	position: absolute;
	left: 10px;
	top: 15px
}
.top_dh .ind_search {
	width: 100%;
	height: 33px;
	border-radius: 50%;
	padding-top: 5px;
}
.input_fatner {
	padding-left: 40px;
	height: 33px;
	position: relative;
	background: #a30514;
	background-size: 19px;
	border-radius: 50px
}
.top_dh .ind_search .inp_text {
	height: 33px;
	float: left;
	width: 100%;
	font-size: 14px;
	color: #FFF
}
.top_dh .ind_search .inp_sub {
	width: 40px;
	height: 33px;
	float: left;
	position: absolute;
	left: 0
}
.head_icon4 {
	width: 45px;
	height: 33px;
	z-index: 99;
	font: 12px/25px "\5FAE\8F6F\96C5\9ED1";
	color: #FFF;
	text-align: center;
	position: absolute;
	right: 5px;
	top: 4px
}
.search_hot {
	padding: 10px 0 10px 10px;
	overflow: auto;
}
.search_hot p {
	color: #999999;
	font-size: 16px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	margin-bottom: 10px;
}
.search_hot ul {
	width: 100%;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	padding-top: 5px;
}
.search_hot ul li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	margin-right: 7px;
	text-align: center;
	background: #FFF;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	line-height: 34px;
	width: 24%;
	margin-bottom: 10px;
	border-left: none;
	border-top: none;
}
.search_hot ul li a {
	color: #000;
	font-size: 14px;
}
/*留言成功页面 begin*/

.ly_success {
	border: solid 1px #e8e8e8;
	margin: 0 10px;
	border-top: none;
	min-height: 174px;
	background-size: 115px;
	padding-bottom: 10px;
}
.ly_success .success_count {
	margin-left: 110px;
	height: 174px;
	padding-right: 5px;
}
.ly_success .success_count h1 {
	text-align: center;
	font-size: 18px;
	color: #d6172d;
	padding-top: 20px;
	line-height: 40px;
}
.ly_success .success_count h1 em {
	padding: 36px 0 0 36px;
	background-size: 36px;
	padding: 9px 0 7px 36px;
}
.ly_success .success_count strong {
	text-align: center;
	display: block;
	line-height: 20px;
}
.ly_success .success_count p {
	color: #d6172d;
	font-size: 12px;
	text-align: center;
	padding-top: 7px
}
.ly_success .success_count span {
	display: block;
	width: 180px;
	height: 30px;
	background: #d6172d;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	margin: 5px auto 0 auto
}
.ly_success .success_count span a {
	display: block;
	width: 180px;
	height: 30px;
	color: #FFF
}
.ly_cont {
	border: solid 1px #e8e8e8;
	margin: 10px 10px 0 10px;
	background: #FFF;
	border-bottom: none;
}
.ly_cont h2 {
	border-bottom: solid 1px #e7e7e7;
	height: 44px;
	line-height: 44px;
	padding: 0 10px 0 0px;
}
.ly_cont h2 i {
	float: left;
	width: 3px;
	height: 18px;
	margin-top: 14px;
	margin-right: 10px;
	background: #d3172c
}
.ly_cont h2 em {
	float: right;
	font-size: 12px
}
.ly_cont h2 em a {
	color: #929191;
}
.ly_cont .cont_zs {
	display: block;
	padding: 10px 5px;
	height: 60px;
	border-bottom: solid 1px #d8d1d1;
}
.ly_cont .cont_zs img {
	width: 120px;
	float: left
}
.ly_cont .cont_zs div {
	margin-left: 130px;
}
.ly_cont .cont_zs div h1 {
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #000000;
}
.ly_cont .cont_zs div p {
	font-size: 14px;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
	color: #777777;
}
.ly_cont .cont_zs div span {
	float: left;
	font-size: 14px;
	color: #ff0000;
}
.ly_cont .cont_zs div em {
	float: right;
	color: #767676;
	font-size: 14px;
	padding-left: 18px;
	background-size: 15px;
}
.ly_cont .cont1_b {
	border-top: solid 1px #e7e7e7
}
.ly_cont .cont1_b ul li {
	float: left;
	width: 50%;
	border-bottom: solid 1px #e7e7e7;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	position: relative;
}
.ly_cont .cont1_b ul li a {
	color: #343434;
	font-size: 14px
}
.ly_cont .cont1_b ul li i {
	border-right: solid 1px #e7e7e7;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.ly_cont .cont1_b ul li .b_icon1 {
	display: block;
	width: 15px;
	height: 15px;
	background-size: 15px;
	float: left;
	margin: 7px 5px 0 7px;
}
.ly_cont .cont1_b ul li .b_icon2 {
	display: block;
	width: 15px;
	height: 15px;
	background-size: 15px;
	float: left;
	margin: 8px 5px 0 7px;
}
.search_inp {
	height: 33px;
	line-height: 33px;
	width: 100%;
	border: none;
	background: none;
	padding-left: 10px;
}
.search_btn {
	width: 35px;
	height: 35px;
	background: url(../images/inp_sub.png) no-repeat center;
	background-size: 35px;
	border: none;
	float: right;
	margin-right: 2px;
}
.footer {
	background: #FFF;
	padding: 10px
}
.footer .pc {
	text-align: center;
	margin-bottom: 5px
}
.footer .pc a {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	background: #FFF;
	color: #FFF;
	border: 1px solid #d2d2d2
}
.footer .pc a img {
	width: 100%;
	display: block;
	border-radius: 36px
}
.footer .copy {
	color: #999;
	font-size: 12px;
	text-align: center;
	line-height: 1.8em;
}
.footer .copy a {
	color: #999;
}
.smm {
	margin: 0 10px;
}
.smm .title, .hot-top1 .title, .head_nav .title {
	border-bottom: 2px solid #e4030d;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #333;
	background: url(../images/bt.jpg) no-repeat left center;
	padding-left: 10px;
}
.smm .smbg {
	background: #fff;
}
.smm dl {
	padding: 14px 14px 0px 0px;
	height: 84px;
	border-bottom: 1px solid #e0e0e0;
}
.smm dl dt {
	float: left;
}
.smm dl dt img {
	width: 120px;
	height: 60px;
	padding: 0px;
	border: 1px solid #d8d8d8;
}
.smm dl dt img:hover {
	border: 1px solid #e4030d;
}
.smm dl dd {
	margin-left: 140px;
	overflow: hidden;
}
.smm dl dd h2, .smm dl dd div {
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: normal;
	line-height: 1.3em;
	height: 1.3em;
	overflow: hidden;
}
.smm dl dd p {
	line-height: 2em;
	height: 2em;
	overflow: hidden;
	color: #a9a9a9;
	font-size: 12px
}
.smm dl dd p strong {
	color: #FF0000;
	font-weight: normal;
}
.smm dl dd p i {
	font-style: normal;
}
.smm dl dd span a {
	height: 20px;
	line-height: 20px;
	margin-top: 3px;
	background: url(../images/liuyan.gif) no-repeat 8px 3px #e4030d;
	padding-left: 28px;
	width: 78px;
	display: block;
	text-align: left;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	color: #fff;
}
.smm dl dd span a:hover {
	background: url(../images/liuyan.gif) no-repeat 8px 3px #e4030d;
	color: #fff;
}
/*2016-5-26 当前位置*/

.pos {
	background: #fff;
}
.pos a {
	color: #333;
}
.pos_l {
	height: 30px;
	width: 96%;
	margin: 0 auto;
	line-height: 30px;
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
}
/*项目详情页list_jiaoshao.htm底部导航*/
.common_footer {
	line-height: normal;
}
.common_footer .f-nav {
	padding: 10px 5%;
	background: #014687;
}
.common_footer .f-nav div {
	text-align: center;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	height: 16px;
	width: 100%;
}
.common_footer .f-nav div a {
	display: block;
	height: 16px;
	line-height: 16px;
	border-right: 1px solid #940000;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	font-size: 13px;
	box-flex: 1;
	color: #fff;
}
.common_footer .f-nav div a:last-child {
	border-right: 0 none;
}
/*页码*/
.pages {
	clear: both;
	margin: 20px;
	overflow: hidden;
	margin-left: 0px;
	text-align: center;
	font-size: 12px
}
.pages ul li {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 4px 12px;
	margin: 0 1px;
	line-height: 24px;
	background: #fff;
	color: #999
}
.pages ul li:hover {
	background: #cb2c30;
	color: #fff;
	border: 1px solid #cb2c30
}
.pages ul li:hover a {
	color: #fff;
}
.pages ul li.thisclass {
	display: inline-block;
	border: 1px solid #cb2c30;
	padding: 4px 12px;
	margin: 0 1px;
	background: #cb2c30;
	color: #fff;
}
.pages ul li.thisclass a {
	color: #fff;
}
.pages ul li a {
	display: block;
	color: #999
}
.pagss ul li a:hover {
	color: #fff;
}
/*利润费用表格*/
table.ppjmtable {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #333333;
	border-width: 1px;
	border-color: #FF0000;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
table.ppjmtable th {
	background-color: #FF0000;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999;
	color: #f9f9f9;
}
table.ppjmtable tr {
	background-color: #FFFFFF;
}
table.ppjmtable td {
	border-width: 1px;
	padding: 5px 8px 8px 3px;
	border-style: solid;
	border-color: #FF0000;
	line-height: 15px;
}
.more-btn {
	color: #d0002c;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	line-height: 2.0rem;
	background: #e7e7e7;
}
.more_xm a {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
	line-height: 36px;
	width: 268px;
	height: 36px;
	border: 1px solid #e1e1e1;
	background: url(../images/more_button.jpg) repeat-x;
	text-shadow: 0 1px 1px #fff;
	font-size: 14px;
	color: #FF0000;
	font-family: "微软雅黑";
	margin-top: 14px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.list_nav1 ul a {
	text-align: center;
	height: 30px;
	float: left;
	width: 33%;
	font-size: 14px;
	color: #777777;
}
.list_dn1 {
	height: auto;
	overflow: hidden;
}
.slideGroup {
	width: 100%;
	border: 1px solid #ddd;
	text-align: left;
	background: #fff;
}
.slideGroup .slideBox1 {
	overflow: hidden;
	zoom: 1;
	padding: 10px 42px 10px 42px;
	position: relative;
}
.slideGroup .sPrev, .slideGroup .sNext {
	position: absolute;
	left: 5px;
	top: 10px;
	display: block;
	padding: 0 10px;
	line-height: 22px;
	border: 1px solid #ddd;
}
.slideGroup .sNext {
	left: auto;
	right: 5px;
}
.slideGroup .sPrev:hover, .slideGroup .sNext:hover {
	border-color: #f60;
}
.slideGroup .parBd ul {
	overflow: hidden;
	zoom: 1;
}
.slideGroup .parBd ul li {
	margin: 0 10px;
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;
}
.slideGroup .parBd ul li .pic {
	text-align: center;
}
.slideGroup .parBd ul li .pic img {
	width: 120px;
	height: 90px;
	display: block;
	padding: 2px;
	border: 1px solid #ccc;
}
.slideGroup .parBd ul li .pic a:hover img {
	border-color: #999;
}
.slideGroup .parBd ul li .gdtitle {
	line-height: 24px;
	font-size: 14px;
}
